{% extends "base.html" %}

{% block title %}Dati COVID-19 regionali{% endblock %}

{% block head %}
{{ super() }}
{% endblock %}

{% block menu %}
<nav class="nav nav-pills mb-2">
    <a class="nav-link btn btn-primary ml-2" href="/">Home</a>
    <a class="nav-link" href="/regions">Dati regionali</a>
    <a class="nav-link" href="/provinces">Dati provinciali</a>
</nav>
<nav class="nav nav-pills mb-2">
    <a class="nav-link" href="/regions?regione=1">Piemonte</a>
    <a class="nav-link" href="/regions?regione=2">Valle d'Aosta</a>
    <a class="nav-link" href="/regions?regione=3">Lombardia</a>
    <a class="nav-link" href="/regions?regione=4">Trentino</a>
    <a class="nav-link" href="/regions?regione=5">Veneto</a>
    <a class="nav-link" href="/regions?regione=6">Friuli Venezia Giulia</a>
    <a class="nav-link" href="/regions?regione=7">Liguria</a>
    <a class="nav-link" href="/regions?regione=8">Emilia Romangna</a>
    <a class="nav-link" href="/regions?regione=9">Toscana</a>
    <a class="nav-link" href="/regions?regione=10">Umbria</a>
    <a class="nav-link" href="/regions?regione=11">Marche</a>
    <a class="nav-link" href="/regions?regione=12">Lazio</a>
    <a class="nav-link" href="/regions?regione=13">Abruzzo</a>
    <a class="nav-link" href="/regions?regione=14">Molise</a>
    <a class="nav-link" href="/regions?regione=15">Campania</a>
    <a class="nav-link" href="/regions?regione=16">Puglia</a>
    <a class="nav-link" href="/regions?regione=17">Basilicata</a>
    <a class="nav-link" href="/regions?regione=18">Calabria</a>
    <a class="nav-link" href="/regions?regione=19">Sicilia</a>
    <a class="nav-link" href="/regions?regione=20">Sardegna</a>
</nav>
{% endblock %}

{% block content%}
{% for key, val in body.items() %}
    <h2 class="mt-4">{{key}}</h2>
    {% for key_regione, val_regione in val.items() %}
        <h3 class="mt-3">{{key_regione}}</h3>
        <ul class="list-group mt-3">
            {% for item, item_val in val_regione.items() %}
                {% if item != 'diff' %}
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-6 col-md-10 data-key">
                                <span title="{{item}}">{{item}}</span>
                            </div>
                            <div class="col-3 col-md-1 text-right data-diff">
                                {% if 'diff' in val %}
                                    {% if item in val['diff'] %}
                                        <span>{{val['diff'][item]}}</span>
                                        {% if val['diff'][item] > 0 %}
                                            <i class="fas fa-angle-double-up text-danger"></i>
                                        {% else %}
                                            <i class="fas fa-angle-double-down text-success"></i>
                                        {% endif %}
                                    {% endif %}
                                {% endif %}
                            </div>
                            <div class="col-3 col-md-1 text-right data-value">
                                <span class="badge badge-primary badge-pill">{{item_val}}</span>
                            </div>
                        </div>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    {% endfor %}
{% endfor %}
{% endblock %}